@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* badge */
.badge_list{display:flex;gap:4px;width:100%;flex-wrap:wrap;}
.badge_list li{padding:3px 12px;font-size:12px;line-height:1.4;font-weight:bold;border-radius:12px;}
.badge_list li.tp1{background-color:#4b75ee;color:#fff;}
.badge_list li.tp2{background-color:#eef2fd;color:#1d51e9;}
.badge_list li.tp3{background-color:#f9f6ff;color:#7522f2;}
.badge_list li.tp4{background-color:#656b7b;color:#fff;}
.badge_list li.tp5{background-color:#059476;color:#fff;}
.badge_list li.tp6{background-color:#f4f6fc;color:#32394f;}
.badge_list li.tp6{display:flex;gap:0 12px;}
.badge_list li.tp6 .label{color:#8593a9;font-weight:500;}
.badge_list li.tp6 .value{font-weight:bold;}
.badge_list li.tp7{background-color:#0E3092;color:#fff;}
.badge_list.lg{gap:8px;}
.badge_list.lg li{padding:8px 20px;border-radius:16px;font-size:14px;}
.badge-list-area{display:flex;gap:0 8px;align-items: center;}
.badge-list-area .badge_list{width:auto;}
.badge-list-area .tit{font-size:20px;font-weight:bold;color:#32394f;}

.detail_badge{display:flex;gap:4px;}
.detail_badge > li{display:inline-block;padding:3px 8px;border-radius:4px;}
.detail_badge li{font-size:12px;font-weight:bold;}
.detail_badge li.blue{background-color: #f4f6fc;color:#1d51e9;}
.detail_badge li.green{background-color: #eff9fc;color:#058dac;}
.detail_badge li .badge_in{display:flex;}
.detail_badge li .badge_in > li{padding-left:17px;position: relative;}
.detail_badge li .badge_in > li::before{content:'';display:block;width:1px;height:10px;background-color: #d7dcea;position: absolute;left:8px;top:3px;}
.detail_badge li .badge_in > li:first-child{padding-left:0;}
.detail_badge li .badge_in > li:first-child::before{display:none;}

/* button */
.btn_more{font-size:14px;font-weight:500;color:#656b7b;display:inline-flex;align-items:center;gap: 0 4px;padding:9px 12px 9px 20px;border-radius: 20px;}
.btn_more::after{content:'';display:block;width:16px;height:16px;background:url('/img/common/ico-s-more.svg') 50% 50% no-repeat;}
.btn_more:hover{background-color: #f4f6fc;color:#1d51e9;}
.btn_more:hover::after{background:url('/img/common/ico-s-more-b.svg') 50% 50% no-repeat;}
.btn_favorite{display:inline-block;width:40px;height:40px;background:url('/img/icon/ico-l-favorites-g.svg') 50% 50% no-repeat;font-size:0;}
.btn_link{display:flex;align-items:center;font-size:13px;font-weight:500;color:#656b7b;gap:0 4px;}
.btn_link::after{content:'';display:block;width:16px;height:16px;background:url('/img/icon/ico-s-arrow.svg')}
.btn-download{font-size:14px;font-weight:500;color:#656b7b;display:flex;gap:0 4px;align-items: center;padding: 8px;}
.btn-download::after{content:'';display:block;width:16px;height:16px;background:url('/img/icon/ico-s-download-g.svg') 50% 50% no-repeat;}
.btn-download:hover{color:#1d51e9;text-decoration: underline;}
.btn-download:hover::after{background:url('/img/icon/ico-s-download-b.svg') 50% 50% no-repeat;}
.btn-search{display:inline-block;width:40px;height:40px;background:url('/img/icon/ico-m-search-w-on.svg') 50% 50% no-repeat;border-radius: 8px;background-color: #1d51e9;}

/* tab */
.tab_area{display:flex;align-items: center;justify-content: space-between;}
.tab-base{display:flex;flex-wrap:wrap;gap:0 8px;}
.tab-base.ver_center{justify-content:center;}
.tab-base > li > a{font-size:16px;font-weight:bold;color:#656b7b;display:block;border-radius: 22px;background-color: #fff;line-height:1.4;padding:10px 24px;}
.tab-base.ver_gray > li > a{background-color:#f4f6fc;}
.tab-base > li.on > a, .tab-base > li:hover > a{background-color: #32394f;color:#fff;}
.tab-base.lg > li > a{padding: 13px 24px 12px;border-radius: 25px;font-size:18px;}
.tab-base.c_blue > li.on > a, .tab-base.c_blue > li:hover > a{background-color: #1d51e9;color:#fff;}

.panel-base{margin-top:16px;}
.panel-base > li{display:none;}

/* input - bar */
.input-base{width:100%;padding:9px 16px;border:1px solid #d7dcea;background-color:#fff;border-radius:4px;font-size:14px;height:40px;}
.input-base:disabled{background-color: #f4f6fc;}
.input-wrap{position: relative;display:flex;gap:0 8px;width:100%;}
.input-wrap.ver_file input[type="file"]{position: absolute;right:0;top:0;width:40px;height:40px;opacity:0;}
.input-wrap.ver_file .btn-del{position: absolute;left:16px;top:12px;display:none;}
.input-wrap.ver_file.on .input-base{padding-left:36px;}
.input-wrap.ver_file.on .btn-del{display:inline-block;}
.input-wrap.ver_search .select-base, .input-wrap.ver_search .custom-select{width:200px;flex-shrink:0;}
.input-wrap.ver_search .btn-search{flex-shrink: 0;}
.fileview-list{width:100%;border:1px solid #d7dcea;border-radius:4px;padding:4px 16px;}
.fileview-list > li{display:flex;justify-content:space-between;align-items: center;width:100%;font-weight:400;}

/* input - radio */
.radio-base{position:relative;display:inline-block;}
.radio-base input{position:absolute;display:none;}
.radio-base input + label{position:relative;padding-left:24px;font-size:14px;display:inline-block;line-height:20px;vertical-align:middle;}
.radio-base input + label:before{content:'';display:block;width:20px;height:20px;position: absolute;left:0;top:0;background:url('/img/icon/ico-s-radiobtn-def.svg') 50% 50% no-repeat;}
.radio-base input:checked + label:before{background:url('/img/icon/ico-s-radiobtn-act.svg') 50% 50% no-repeat;}
.radio-list{font-size:0;}
.radio-list li{display:inline-block;margin-left:16px;}
.radio-list li:first-child{margin-left:0;}
.radio-list.vertical li{display:block;margin-left:0;margin-top:10px;}

/* input - checkbox */
.chk-base{position:relative;display:inline-block;}
.chk-base input{position:absolute;display:none;}
.chk-base input + label{position:relative;padding-left:24px;font-size:14px;display:inline-block;line-height:20px;vertical-align:middle;}
.chk-base input + label:before{content:'';display:block;width:20px;height:20px;position: absolute;left:0;top:0;background:url(/img/icon/ico-s-checkbox-def.svg) 0 0 no-repeat;}
.chk-base input:checked + label:before{background:url(/img/icon/ico-s-checkbox-act.svg) 0 0 no-repeat;}
.chk-base.chk-only{vertical-align:middle;}
.chk-base.chk-only input + label{padding-left:0;font-size:0;width:20px;height:20px;vertical-align:middle;}
.chk-list{display:flex;gap:16px;flex-wrap:wrap;}

/* input - datepicker */
.tui-datepicker-input{padding:10px 16px;height:40px; border-radius: 4px;border: solid 1px #d7dcea;background-color: #fff;}
.tui-datepicker-input > input{font-size:14px;color:#32394f;padding:0;}
.tui-datepicker-input > .tui-ico-date{background:url('/img/icon/ico-s-calendar-off.svg') 50% 50% no-repeat !important;margin:0;right:8px;top:12px;}
.tui-datepicker-input.tui-has-focus{border-color:#d7dcea;}
.input-wrap.input-datepicker{display:flex;align-items: center;gap:0 8px;}
.input-wrap .bridge{font-size:14px;color:#656b7b;}



/* file - input */
::-webkit-file-upload-button{cursor:pointer;}

.file-dnd-area{border:1px solid #d7dcea;padding:16px;background-color:#ffffff;border-radius:4px;text-align:center;position: relative;width:100%;}
.file-dnd-area .file-msg{font-size:14px;color:#8593a9;display:block;}
.file-dnd-area .file-msg::before{content:'';display:block;width:24px;height:24px;background:url('/img/icon/ico-m-attachfile-dnd-g.svg') 50% 50% no-repeat;margin:0 auto 4px;}
.file-dnd-area input[type="file"]{position:absolute;opacity:0;background:gold;display:block;width:100%;height:100%;left:0;top:0;}
.file-list-area{padding:8px 12px;border:1px solid #d7dcea;border-radius:4px;position:relative;min-height:32px;max-height:100px;overflow-y:auto;background-color: #fff;width:100%;}
.file-list-area li{font-size:12px;line-height:17px;margin-top:8px;position:relative;display:flex;gap:0 4px;}
.file-list-area li:first-child{margin-top:0;}

/* button */
.btn-base{display:inline-block;vertical-align:middle;}
.btn-base > *{display:block;text-align:center;width:100%;font-size:16px;cursor:pointer;background-color:#fff;padding:14px 24px;border-radius:8px;border:0;font-weight:700;}
.btn-base > * span.ico{display:flex;align-items:center;gap:0 4px;}
.btn-base > * span.ico::before{content:'';display:block;width:24px;height:24px;}
.btn-base > * span.ico.home::before{background:url('/img/icon/ico-m-home-b.svg') 50% 50% no-repeat;}
.btn-base > * span.ico.send::before{background:url('/img/icon/ico-s-send-w.svg') 50% 50% no-repeat;}
.btn-base > * span.ico.list-w::before{background:url('/img/icon/ico-s-list-w.svg') 50% 50% no-repeat;}
.btn-base > * span.ico.modify::before{background:url('/img/icon/ico-s-modify-w.svg') 50% 50% no-repeat;}
.btn-base > * span.ico.trash::before{background:url('/img/icon/ico-s-trash-w.svg') 50% 50% no-repeat;}
.btn-base > * span.ico.newregister::before{background:url('/img/icon/ico-s-newregister-b.svg') 50% 50% no-repeat;}
.btn-base > * span.ico.favorites::before{background:url('/img/icon/ico-s-favorites-w.svg') 50% 50% no-repeat;}
.btn-base > * span.ico.endview::before{background:url('/img/icon/ico-s-endview-w.svg') 50% 50% no-repeat;}
.btn-base > * span.ico.list::before{background:url('/img/icon/ico-m-list-b.svg') 50% 50% no-repeat;}
.btn-base > * span.ico.search::before{background:url('/img/icon/ico-m-search-on.svg') 50% 50% no-repeat;}
.btn-base > * span.ico.arrow::before{background:url('/img/icon/ico-s-arrow-fullr.svg') 50% 50% no-repeat;}
.btn-base.sm > *{padding:8px 16px;font-size:14px;}
.btn-base.tp1 > *{border:1px solid #1d51e9;color:#1d51e9;}
.btn-base.tp1 > *:hover{background-color:#eef2fd;}
.btn-base.tp2 > *{border:1px solid #1d51e9;color:#ffffff;background-color:#1d51e9;}
.btn-base.tp2 > *:hover{border-color:#133fc0;background-color:#133fc0;}
.btn-base.tp3 > *{border:1px solid #d7dcea;color:#32394f;}
.btn-base.disabled > *{cursor:default;}
.btn-base.tp1.disabled > *{background-color:#f4f6fc;color:#8593a9;border-color:#d7dcea;}
.btn-base.tp2.disabled > *{background-color:#8593a9;color:#d7dcea;border-color:#8593a9;}
.btn-base.tp1.disabled > * span.ico::before {/* filter: grayscale(100%) brightness(0.6); */filter: grayscale(100%);opacity: 0.6;}
.btn-wrap{display:flex;justify-content:center;gap:8px;}
.btn-wrap.ver_left{justify-content: flex-start;}
.btn-wrap.ver_right{justify-content: flex-end;}
.btn-ico{width:16px;height:16px;display:inline-block;vertical-align:middle;}
.btn-ico.btn-viewdocument{background:url('/img/icon/ico-s-viewdocument-g.svg') 50% 50% no-repeat;}
.btn-ico.btn-viewdocument:hover{background:url('/img/icon/ico-s-viewdocument-b.svg') 50% 50% no-repeat;}
.btn-ico.btn-compare{background:url('/img/icon/ico-s-compare-g.svg') 50% 50% no-repeat;}
.btn-ico.btn-compare:hover{background:url('/img/icon/ico-s-compare-b.svg') 50% 50% no-repeat;}
.btn-ico.btn-viewfilter{background:url('/img/icon/ico-s-viewfiler-g.svg') 50% 50% no-repeat;}
.btn-ico.btn-viewfilter:hover{background:url('/img/icon/ico-s-viewfiler-b.svg') 50% 50% no-repeat;}
.btn-file{display:inline-block;width:40px;height:40px;background:#fff url('/img/icon/ico-m-attachfile-g.svg') 50% 50% no-repeat;border:1px solid #d7dcea;border-radius:4px;}
.btn-del{display:inline-block;width:16px;height:16px;background: url('/img/icon/ico-s-cancel-g.svg') 50% 50% no-repeat;font-size:0;}
.btn-info{display:inline-block;width:24px;height:24px;background:url('/img/icon/ico-m-infos-def.svg') 50% 50% no-repeat;}
.btn-info.on{background:url('/img/icon/ico-m-info-act.svg') 50% 50% no-repeat;}

/* text count */
.tx-count{font-size:13px;color:#656b7b;display:block;}
.tx-count em{color:#1d51e9;font-weight:bold;}

/* textarea */
.textarea-base{position:relative;width:100%;}
.textarea-base textarea{padding:8px 16px;height:160px;border-radius: 4px;border: solid 1px #d7dcea;width:100%;}
.textarea-base .tx-count{margin-top:5px;}

/* selectbox */
.select-base{position:relative;display:block;width:232px;height:40px;border-radius: 4px;border: solid 1px #d7dcea;cursor:pointer;background-color: #fff;}
.select-base:after{content:'';display:block;background:url('/img/icon/ico-s-arrow-more.svg') 50% 50% no-repeat;width:16px;height:16px;position:absolute;right:8px;top:12px;}
.select-base .value{display:block;padding-left:16px;padding-right:30px;height:40px;line-height:40px;font-size:14px;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.select-base select{position:absolute;left:0;top:0px;padding-left:16px;width:100%;height:40px;line-height:40px;font-size:14px;text-align:left;border:0;background:#fff;opacity:0;filter:alpha(opacity=0);z-index:1;cursor:pointer;}
/* .select-base.disabled{background:rgba(0, 0, 0, 0.04);cursor:default;}
.select-base.disabled select{display:none;}
.select-base.active{border:1px solid #209dff;}
.select-base.active .value{color:#209dff;} */

/* table */
.tb-wrap{margin-top:8px;}
.tb-list{width:100%;table-layout:fixed;margin-top:8px;}
.tb-list th, .tb-list td{text-align:center;padding:11px 8px;border-bottom: solid 1px #d7dcea;}
.tb-list th{font-weight:bold;border-top: solid 1px #d7dcea;background-color: #f4f6fc;font-size:13px;color:#656b7b;}
.tb-list td{font-size:14px;background-color: #fff;}
.tb-list td .ellispis{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: block;}
.tb-list td .no-data{padding:29px 0;}

.no-data{font-size:14px;color:#656b7b;padding:40px 0;text-align:center;}
.no-data::before{content:'';display:block;width:40px;height:40px;background:url('/img/icon/ico-l-noresults.svg') 50% 50% no-repeat;margin:0 auto 4px;}

/* pagination */
.pagination{display:flex;align-items: center;justify-content: center;margin-top:24px;}
.pagination a{display:inline-block;width:38px;height:38px;border-radius: 8px;}
.pagination a.num{font-size:14px;display:flex;align-items: center;justify-content: center;font-weight:500;}
.pagination a.num.on, .pagination a.num:hover{background-color: #4b75ee;color:#fff;}
.pagination a.btn{background-position:50% 50%;background-repeat:no-repeat;}
.pagination a.btn.disabled{opacity:0.5;}
.pagination a.btn-prev{margin-right:24px;}
.pagination a.btn-next{margin-left:24px;}
.pagination a.btn-prev, .pagination a.btn-next{background-image:url(/img/icon/ico-m-arrow-g.svg)}
.pagination a.btn-first, .pagination a.btn-last{background-image:url(/img/icon/ico-m-arrowblock-g.svg);}
.pagination a.btn-prev, .pagination a.btn-first{transform:rotate(180deg);}
.pagination a.btn-prev:hover, .pagination a.btn-next:hover{background-image:url(/img/icon/ico-m-arrow-w2.svg);background-color: #4b75ee;}
.pagination a.btn-first:hover, .pagination a.btn-last:hover{background-image:url(/img/icon/ico-m-arrowblock-w2.svg);background-color: #4b75ee;}
.pagination a.btn-prev:hover, .pagination a.btn-first:hover{transform:rotate(0deg);}
.pagination a.btn-next:hover, .pagination a.btn-last:hover{transform:rotate(180deg);}

.s-tooltip{padding:5.5px 12px;border-radius: 16px;background-color: rgba(0, 0, 0, 0.75);white-space: nowrap;}

/* popup */
.mfp-wrap{-webkit-overflow-scrolling:touch}
.mfp-zin.mfp-bg,
.mfp-slide-b.mfp-bg{opacity:0;-webkit-transition:opacity .3s ease-out;transition:opacity .3s ease-out;}
.mfp-zin.mfp-bg.mfp-ready,
.mfp-slide-b.mfp-bg.mfp-ready{opacity:.8;}
.mfp-zin.mfp-bg.mfp-removing,
.mfp-slide-b.mfp-bg.mfp-removing{opacity:0;}
.mfp-zin .z-anim{opacity:0;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;-webkit-transform:scale(0.8);transform:scale(0.8);}
.mfp-zin.mfp-ready .z-anim{opacity:1;-webkit-transform:scale(1);transform:scale(1);}
.mfp-zin.mfp-removing .z-anim{-webkit-transform:scale(0.8);transform:scale(0.8);opacity:0;}
.mfp-slide-b .z-anim{opacity:0;-webkit-transition:all .2s ease-out;transition:all .2s ease-out;-webkit-transform:translateY(-20px) perspective(600px) rotateX(10deg);transform:translateY(-20px) perspective(600px) rotateX(10deg);}
.mfp-slide-b.mfp-ready .z-anim{opacity:1;-webkit-transform:translateY(0) perspective(600px) rotateX(0);transform:translateY(0) perspective(600px) rotateX(0);}
.mfp-slide-b.mfp-removing .z-anim{opacity:0;-webkit-transform:translateY(-10px) perspective(600px) rotateX(10deg);transform:translateY(-10px) perspective(600px) rotateX(10deg);}
.popup-wrap{position:relative;background:#fff;margin:20px auto;border-radius:10px;}
.fade-slideup .popup-wrap{opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;-webkit-transform:translateY(100%);transform:translateY(100%);}
.fade-slideup.mfp-ready .popup-wrap{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
.fade-slideup.mfp-removing .popup-wrap{opacity:0;-webkit-transform:translateY(100%);transform:translateY(100%);}
.popup-wrap.fullpage{margin:0;min-height:100vh;}
[class*=popup-wrap] button.mfp-close,
.popup-wrap button.mfp-arrow{width:16px;height:16px;background:url(../images/icons/Icon_Header_Close_WH.svg) 0 0 no-repeat;top:-26px;font-size:0;}
[class*=popup-wrap] .con-wrap{position:relative;border-radius: 16px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);background-color: #fff;padding:40px 24px 24px;}
[class*=popup-wrap] .con-wrap .tit{font-size:16px;font-weight:700;color:#32394f;text-align:center;}
[class*=popup-wrap] .con-wrap .tit.error::before{content:'';display:block;width:40px;height:40px;background:url('/img/icon/ico-l-errornoti.svg') 50% 50% no-repeat;margin:0 auto 4px;}
[class*=popup-wrap] .con-wrap .con{font-size:14px;font-weight:500;color:#656b7b;}
[class*=popup-wrap] .con-wrap .con span{color:#1d51e9;font-weight:700;}
[class*=popup-wrap] .con-wrap .tit + .con{margin-top:24px;}
[class*=popup-wrap] .con-wrap .btn-wrap{margin-top:24px;}

.tui-datepicker{z-index:10;border:0;box-shadow:0 4px 12px #0000001a;border-radius:12px;padding:10px;font-family: 'Noto Sans KR', sans-serif;}
.tui-calendar .tui-calendar-title{font-size:14px;font-weight:700;font-family: 'Noto Sans KR', sans-serif;}
.tui-calendar-header-info{display:none;}
.tui-datepicker .tui-is-selectable.tui-is-selected, .tui-datepicker.tui-rangepicker .tui-is-selectable.tui-is-selected{background-color: #3b82f6;}
.tui-calendar .tui-calendar-body-header th{font-size:11px;font-weight:500;color:#555;}
.tui-calendar th, .tui-calendar td{width:36px;height:36px;line-height:36px;margin:0;}
.tui-calendar td{font-size:14px;font-weight:500;color:#32394f;}
.tui-datepicker .tui-is-selectable.tui-is-selected, .tui-datepicker.tui-rangepicker .tui-is-selectable.tui-is-selected{border-radius:8px;}

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  width: 232px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #ffffff;
  padding: 9px 32px 9px 16px;
  height: 40px;
  border:1px solid #d7dcea;
  border-radius: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.custom-select.active .select-selected {
  color: #32394f;
  
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 12px;
  right: 10px;
  background:url(../img/icon/ico-s-arrow-more.svg) 50% 50% no-repeat;
  width: 16px;
  height: 16px;
  transition: transform 0.2s;
}
.select-selected.select-arrow-active {
  border-color:#4b75ee;
}
.select-selected.select-arrow-active:after {
  transform: rotate(180deg);
}
.select-items {
  border:1px solid #d7dcea;
}
.select-items div {
  color: #ffffff;
  border:1px solid #d7dcea;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  color: #778298;
}
.select-items div {
  background-color:#ffffff;
  
  border: 0;
  border-radius: 0;
  padding: 6.5px 16px;
}
/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .select-items div.same-as-selected {
  background-color: #eef2fd;
  color: #1d51e9;
}